/*h1#tituloPrincipal{

    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}*/

body#principalBody{

    background-color: rgb(133, 132, 132);

}

div#Cronom{

    text-align:center;
    background-color: rgb(95, 61, 61);
    color: black;
}