body{
    box-sizing: border-box;
    align-items: center;
    background-color: black;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
}

div#corpo{

    background-color: rgb(7, 7, 7);
    font-size: 18pt;
    color: yellow;
    border-radius: 2%;
  
}

p#yl{

color: rgb(100, 170, 200);

}